<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- load the aspnetcore plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

<variable name="logDirectory" value="${basedir}" />

  <!-- the targets to write to.
    Helpful hints in https://github.com/nlog/NLog/wiki/File-target  
    Setup to keep 50 x 1000000 byte rolling files. -->
  <targets>
    <target name="logfile" xsi:type="File" 
            fileName="${var:logDirectory}/io-eventuate-tram.log" 
            archiveFileName="${var:logDirectory}/io-eventuate-tram.log.{#}"
            archiveNumbering="Rolling"
            archiveAboveSize="1000000"
            maxArchiveFiles="50"
            />
  </targets>

  <rules>
    <logger name="IO.Eventuate.Tram.*" minlevel="Debug" writeTo="logfile" />
	<!-- Handy logger to get details of what DB commands are getting made.
		Set to debug to get queries into the log. -->
	<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Warn" writeTo="logfile" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>